<footer>
    <div class="container">
        <div class="row">
            <!-- Hakkımızda Bölümü -->
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>About US</h3>
                <p>deneme-test deneme-test deneme-test deneme-test deneme-test deneme-test deneme-test deneme-test deneme-test deneme-test </p>
                <div class="read">
                    <a href="/About/Index/" class="btn btn-primary read-m">Devamını Oku</a>
                </div>
            </div>
            <!-- Son Gönderiler Bölümü -->
            @await Component.InvokeAsync("BlogLast3Post")
            <!-- Sosyal Medya Bölümü -->
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <div class="footer-social">
                    <h3>Sosyal Medya</h3>
                    <ul class="social-icons">
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © 2018 Weblog. All Rights Reserved | Design by
                    <a href="http://w3layouts.com/">W3layouts</a>
                </p>
            </div>
        </div>
        <!-- //footer -->
    </div>
</footer>
