@model Core_Blog.Controllers.Class1


@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Api ile Personel Güncelleme Sayfası</h1>
<form method="post">
    <label>ID</label>
    @Html.TextBoxFor(X=>X.ID,new{@class="form-control"})
    <br />
    <label>Personel</label>
    @Html.TextBoxFor(X => X.Name, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
</form>

